@model Rastrealo.Models.bus

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>bus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="numberPlate" class="control-label"></label>
                <input asp-for="numberPlate" class="form-control" />
                <span asp-validation-for="numberPlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shift" class="control-label"></label>
                <input asp-for="shift" class="form-control" />
                <span asp-validation-for="shift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitude" class="control-label"></label>
                <input asp-for="latitude" class="form-control" />
                <span asp-validation-for="latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longitude" class="control-label"></label>
                <input asp-for="longitude" class="form-control" />
                <span asp-validation-for="longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passengers" class="control-label"></label>
                <input asp-for="passengers" class="form-control" />
                <span asp-validation-for="passengers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
